<!--
  Step 1: The form must be sharable between the new and edit views.
-->
<form action="<%= (typeof actionPath === 'undefined') ? '/books' : actionPath %>", method="POST">
  <% if (typeof actionPath !== 'undefined') { %>
    <input type="hidden" name="id" value="<%= formData.id %>">
  <% } %>

  <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" value="<%= formData.title%>">
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" name="author" class="form-control" value="<%= formData.author%>">
  </div>


  <div class="form-group">
    <label for="Detail">Detail: </label>
    <br>
    <textarea name="detail" class="form-comtrol">
        <%= formData.detail%>
    </textarea>
</div>

  <div class="form-group">
      <button class="btn btn-dark">Submit</button>
  </div>

</form>